# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
  - main

pool:
  vmImage: ubuntu-latest

variables:
  imageName: edufy-keycloak

steps:
  - task: Docker@2
    displayName: 'Login to Azure Container Registry'
    inputs:
      command: login
      containerRegistry: 'edufy-acr'

  - task: Docker@2
    displayName: 'Build Docker image'
    inputs:
      command: build
      containerRegistry: 'edufy-acr'
      repository: $(imageName)
      Dockerfile: '**/Dockerfile'
      tags: |
        $(Build.BuildId)

  - task: Docker@2
    displayName: 'Push Docker image to ACR'
    inputs:
      command: push
      containerRegistry: 'edufy-acr'
      repository: $(imageName)
      tags: |
        $(Build.BuildId)
